seccion03/02-bases/node_modules
seccion04/02-bases/node_modules
seccion04/02-bases/*.log
seccion04/03-typescript/node_modules
seccion04/04-v47/node_modules
seccion05/02-bases/node_modules
seccion05/02-bases/*.log
seccion05/02-bases/dist
seccion05/02-bases/coverage
seccion06/04-multiplication/node_modules
seccion06/04-multiplication/outputs
seccion06/04-multiplication/dist
seccion07/04-multiplication/node_modules
seccion07/04-multiplication/outputs
seccion07/04-multiplication/outputs-personalizados
seccion07/04-multiplication/dist
seccion07/04-multiplication/coverage
seccion07/04-multiplication/testOutputs
seccion08/05-NOC/node_modules