

seccion07/04-multiplication/outputs-personalizados
seccion07/04-multiplication/coverage
seccion07/04-multiplication/testOutputs


*/*/outputs
*/*/coverage
*/*/dist
*/*/node_modules
*/*/log
*/*/*.log
*/*/.env
*/*/mongo

