seccion03/02-bases/node_modules
seccion04/02-bases/node_modules
seccion04/02-bases/*.log
seccion04/03-typescript/node_modules
seccion04/04-v47/node_modules
seccion05/02-bases/node_modules
seccion05/02-bases/*.log
seccion05/02-bases/dist
seccion05/02-bases/coverage
